:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}
.background {
  margin: 0;
  padding: 5vh;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../../assets/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

/*sign in*/
.register {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1px;
  margin: auto;
  float: center;
}

.error {
  border: 1.2px solid red;
}
.btn-danger {
  display: inline-block;
  background: red;
  color: white;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  margin-top: 15px;
}
.btn-secondary-dark {
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  margin-top: 15px;
}
.form-label {
  position: relative;
  top: 30px;
  left: 12px;
  font-size: small;
  color: rgb(83, 83, 83);
}
.form-group {
  margin: 0;
}
.form-control:not(.searchbox):not(.commentBox) {
  padding-top: 25px;
  height: 50px;
}
a:hover {
  color: #2c2c2c;
  text-decoration: none;
}
/*sign in end*/
/*footer*/
.socials {
  color: rgb(185, 185, 185) !important;
  font-size: 20px;
}
.socials i {
  padding-right: 10px;
}
.footer a {
  font-size: 13px;
  padding: 2px;
  color: rgb(185, 185, 185) !important;
}
.btn-footer {
  color: rgb(185, 185, 185);
  border: 1px solid rgb(185, 185, 185);
  background-color: transparent;
  height: 30px;
  text-align: center;
  transition: all ease 0.15s;
}
.btn-footer:hover {
  background-color: rgb(185, 185, 185);
  color: #2c2c2c;
  border: 1px solid rgb(185, 185, 185);
  transition: all ease 0.25s;
}
footer {
  font-size: 13px;
  padding: 2px;
  transition: all ease 0.15s !important;
  color: rgb(185, 185, 185) !important;
}

.footer-link:hover {
  transition: all ease 0.15s !important;
  color: #fff !important;
}
/*footer*/

/*landing page*/
.btns {
  background: var(--primary-color) !important;
  color: white !important;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center !important;
  border: none !important;
  cursor: pointer !important;
  margin-right: 2rem;
  outline: none !important;
  border-radius: 2px !important;
}
.signin:hover {
  opacity: 0.9;
  color: white;
}
.btn-xl {
  margin-right: 0px;
  font-size: 2rem;
  padding: 0.7rem 2.7rem;
  text-transform: uppercase;
}
.smallscreen {
  display: none;
}
.largescreen {
  display: flex;
  flex-direction: column;
}
.showcase-content {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  color: #bbb9b9;
}
@media (max-width: 800px) {
  .largescreen {
    display: none;
  }
  .smallscreen {
    display: block;
  }
}

@media (max-width: 400px) {
  .smallscreen {
    display: block;
    font-size: small;
  }
  .btn-xl {
    margin-top: 100px;
    width: 300px;
    height: 50px;
    font-size: small;
  }
  .background img {
    width: 100px;
  }
}
