.dropdown-menu {
  background-color: black;
  border-radius: 0px;
}
.dropdown-item {
  color: #fff;
}
.dropdown-item:hover,
.dropdown-item:active {
  color: #fff;
  background-color: #2c2c2c;
}
a > ul {
  padding-inline-start: 0;
}
.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 30px;
  width: 30px;
}
.dropdown img {
  object-fit: contain;
  min-width: 100%;
  min-height: 100%;
}
